<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>com.sun.faces.sendPoweredByHeader</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>org.richfaces.CONTROL_SKINNING</param-name>
        <param-value>enable</param-value>
    </context-param>
    <context-param>
        <param-name>org.richfaces.SKIN</param-name>
        <param-value>azul</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.verifyObjects</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.validateXml</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>server</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>DownloadArquivo</servlet-name>
        <servlet-class>controle.arquitetura.DownloadArquivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadByte</servlet-name>
        <servlet-class>controle.arquitetura.DownloadByte</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadByte</servlet-name>
        <url-pattern>/DownloadByte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadArquivo</servlet-name>
        <url-pattern>/DownloadArquivo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>300</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.jsp</welcome-file>
    </welcome-file-list>
    <listener>
        <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
    </listener>
    <filter>
        <display-name>Ajax4jsf Filter</display-name>
        <filter-name>ajax4jsf</filter-name>
        <filter-class>org.ajax4jsf.Filter</filter-class>
        <init-param>
            <param-name>createTempFiles</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>maxRequestSize</param-name>
            <param-value>99999999</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>ajax4jsf</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>

    <servlet>
        <servlet-name>VisualizadorRelatorio</servlet-name>
        <servlet-class>relatorio.arquitetura.VisualizadorRelatorio</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VisualizadorRelatorio</servlet-name>
        <url-pattern>/VisualizadorRelatorio</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>relatorio.arquitetura.Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/Servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletImpressaoMatricial</servlet-name>
        <servlet-class>relatorio.arquitetura.ServletImpressaoMatricial</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletImpressaoMatricial</servlet-name>
        <url-pattern>/ServletImpressaoMatricial</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletImpressaoBluetooth</servlet-name>
        <servlet-class>relatorio.arquitetura.ServletImpressaoBluetooth</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletImpressaoBluetooth</servlet-name>
        <url-pattern>/ServletImpressaoBluetooth</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletImpressaoPDF</servlet-name>
        <servlet-class>relatorio.arquitetura.ServletImpressaoPDF</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletImpressaoPDF</servlet-name>
        <url-pattern>/ServletImpressaoPDF</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/spring/context.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>

</web-app>
